  /* --------------------------------------------------------------------------- */
 /*                                MEDIA QUERIES                                */
/* --------------------------------------------------------------------------- */

@media (max-width: 700px) {
  body {
    font-size: 13px;
  }
  .app {
    margin: 0;
    padding: 20px 25px 40px 25px;
  }

  .main-content {
    flex-wrap: wrap;
    margin: 50px 0 40px 0;
  }

  .about-toggle {
    top: .5em;
    right: 1em;
  }
  .about-pomodoro {
    width: calc(100% - 50px);
  }

  .buttons-container {
    /* force a new line for this component, and give it space */
    margin: 0 100% 20px 100%;
  }

  .timer-settings {
    display: block;
  }

  .settings-work,
  .settings-break,
  .settings-long-break {
    margin-bottom: 5em;
  }



  .timer-title {
    padding: 1em;
    height: inherit;
    width: 100%;
    font-size: 1.5em;
  }

  .settings-item {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    line-height: 3em;
  }
  .settings-sound .sound-icon {
    left: 5.5em;
    position: inherit;
  }
  .sound-progress-tab {
    height: 20px;
    width: 20px;
  }
  .settings-goal,
  .settings-lb-set {
    margin-bottom: 30px;
    border-bottom: 3px solid var(--faintgrey);
  }
}

@media (min-width: 420px) and (max-width: 780px) {
  body {
    font-size: 16px;
  }
  .app {
    margin: 0;
    padding: 20px 25px 40px 25px;
  }
}